.gradient-button:hover {
    background: linear-gradient(to right, #00A2BF, #2a71a0);
}

.gradient-button {
    transition: all .4s ease;
}

.alerti {
    position: fixed;
    right: -100%;
    top: 90%;
    transform: translateY(-50%);
    background-color: #a93012;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: right 0.5s ease-in-out;
    /* Transition property */
}

.slide-in {
    right: 1%;
}

.slide-out {
    right: -10%;
}

.del-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.del-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 200px;
    background-color: #142028;

}

.user-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.user-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 722px;
    background-color: #142028;

}

.add-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.add-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 800px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 622px;
    background-color: #142028;

}
.check {
    position: relative;
    background: linear-gradient(90deg, #01A1BE, #142028);
    line-height: 0;
    font-size: 25px;
   }
   
   .check input[type="checkbox"],
   .check label,
   .check label::before,
   .check label::after {
    appearance: none;
    display: inline-block;
    font-size: inherit;
    border-radius: 1em;
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
   }
   
   .check {
    appearance: none;
    display: inline-block;
    border-radius: 1em;
    border: 0;
    width:55px;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
   }
   
   .check label {
    width: 2.2em;
    height: 1em;
    background: #d7d7d7;
    overflow: hidden;
   }
   
   .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: .8em;
    height: .8em;
    top: .1em;
    left: .1em;
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
   }
   
   .check input[type="checkbox"]:checked {
    left: 1.3em;
   }
   
   .check input[type="checkbox"]:checked + label {
    background: transparent;
   }
   
   .check label::before,
   .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: .50em;
    top: .5em;
    height: 1em;
    letter-spacing: -.04em;
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: .6em;
    border-radius: 0;
    transform-origin: 0 0 -.5em;
    backface-visibility: hidden;
   }
   
   .check label::after {
    content: "?";
    top: .65em;
    left: .6em;
    height: .1em;
    width: .35em;
    font-size: .2em;
    transform-origin: 0 0 -.4em;
   }
   
   .check input[type="checkbox"]:checked + label::before,
   .check input[type="checkbox"]:checked + label::after {
    left: 2.55em;
    top: .4em;
    line-height: .1em;
    transform: rotateY(360deg);
   }
   
   .check input[type="checkbox"]:checked + label::after {
    height: .16em;
    top: .55em;
    left: 2.6em;
    font-size: .6em;
    line-height: 0;
   }
   
.depo-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.depo-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 300px;
    background-color: #142028;

}

.copy-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.switch {
    --false: #E81B1B;
    --true: #009068;
}

input[type=checkbox] {
    appearance: none;
    height: 20px;
    width: 3.5rem;
    background-color: #142028;
    position: relative;
    border-radius: .2em;
    cursor: pointer;
}

input[type=checkbox]::before {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em/2 + .3em);
    background-color: var(--false);
    border-radius: 10px;
    transition: .3s ease;
}

input[type=checkbox]:checked::before {
    background-color: var(--true);
    left: calc(100% - (1.9em/2 + .3em));
}

.copy-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 1500px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 700px;
    background-color: #142028;

}

.change-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.change-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 500px;
    background-color: #142028;

}

.edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}



.upload-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #01A1BE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-input {
    display: none;
}

.edit-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 800px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 652px;
    background-color: #142028;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: darkblue;
    /* color of the scrollbar thumb */
}

/* For Firefox */
::-moz-scrollbar {
    width: 6px;
    /* width of the scrollbar */
}

::-moz-scrollbar-thumb {
    background-color: #1f3645;
    /* color of the scrollbar thumb */
}

/* For modern browsers supporting CSS Scrollbar Module Level 1 */
/* This will set both the width and color of the scrollbar */
/* Note: This property is not supported in Safari */
body {
    scrollbar-width: thin;
    /* width of the scrollbar */
    scrollbar-color: #1f3645 transparent;
    /* color of the scrollbar thumb and track */
}

.editstrat-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.editstrat-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 780px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 800px;
    background-color: #142028;

}

.addstrat-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.addstrat-modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateY(100%);
    animation: slide-up 0.2s ease-out forwards;
    width: 760px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    height: 902px;
    background-color: #142028;

}

.divi:hover {
    background-color: #1c2d38;
}

.divi {
    transition: background-color .4s ease-in-out;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.link:hover {
    scale: 1.2
}

.link {
    transition: all .4s ease-in-out;
}



.header {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    text-align: center !important;
    z-index: 1000 !important;
}